.add{
    text-align: center;
    background-color: #4C64D9;
    height: 48px;
    border-radius: 8px;
    width: 90vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
}