@import "tailwindcss";

body {
  padding: 0px;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #F5F6FA;
}

* {
  box-sizing: border-box;
}

span{
  font-size: 14px;
  color: #595F7A;
}

.container{
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

